@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Montserrat", sans-serif !important;
}

.img-logo{
  max-width: 95px;
  max-height: auto;
}

.navbar{
  border-bottom: 3px solid #4CAF50;
}

.item-menu:hover{
  text-decoration: underline; 
  text-decoration-color: #4CAF50; 
  text-decoration-thickness: 2px; 
}

.contenedor {
  background-image: url('../public/portada.jpg'); 
  background-size: cover; 
  background-position: center; 
  height: 100vh; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  color: white; 
  text-align: center; 
  position: relative; 
  padding: 0 20px; 
}


.contenedor::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1; 
}


.texto-portada {
  position: relative; 
  z-index: 2;
  max-width: 80%; 
}

.texto-portada h1 {
  font-size: 2.5rem; 
  margin-bottom: 20px; 
}

.btn-contacto {
  background-color: #28a745;
  color: white; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  z-index: 3; 
  text-decoration: none;
}

.btn-contacto:hover {
  background-color: #218838;
}

.icono-servicio{
  width: 90px !important;
  margin: 10px auto;
}

.card-shadow {
  width: 300px; 
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  border-radius: 8px; 
}

.card-shadow:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
  transform: scale(1.05); 
}

.btn-info{
  background-color: #4CAF50 !important;
  border: 0 !important;
  color: #ffff !important;
}

.btn-info:hover{
  background-color: #438145 !important;
  border: 0 !important;
  color: #ffff !important;
}

.sobre-nosotros{
  font-size: 22px;
}

.img-sobre-nosotros{
  width: 500px !important;
}